[TMDB]
ApiKey=[TMDB-api-key]

[Target Directories]
BD=/home/user/Documents/Videos/BD
DVD=/home/user/Documents/Videos/DVD

[General]
Kodi3DSuffix=.3d.mvc
SimilarFileSizeMargin=0.25
PostCommand=echo yup